<template>
    <div v-if="getData.length > 0" class="shop-wrapper">
        <div style="display: flex; column-gap: 20px;">
            <div class="shop-wrapper" style="margin-right: 5px;">
                <div class="d-flex mb-60">
                    <div class="col-lg-9 col-padding-12">
                        <div class="shop-content" style="padding-left: 9px;">
                            <div class="ais-Hits">
                                <ul class="ais-Hits-list">
                                    <li class="ais-Hits-item"
                                        v-for="(item, index) in getData"
                                        :key="index"
                                    >
                                        <div class="rct-block  product-block flex-column justify-content-between overflow-hidden bg-white rct-block__hover-shadow">
                                            <a href="#" >
                                                <div :id="item.id" class="overlay-wrap overflow-hidden bg-white" >
                                                    <div class="text-center">
                                                        <div id="image" class="bg-white">
                                                            <img id="lazy-img" class="img-hover-zoom img-fluid m-auto" :alt="item.description" :src="'http://' + item.image" />
                                                        </div>
                                                    </div>
                                                    <div class=" product-info">
                                                        <div class="d-flex text-left product-description">
                                                            <span style="font-weight: bold; color: rgb(0, 0, 0);">{{item.brand}}</span> <span> {{item.description}}</span>
                                                        </div>
                                                        <div class="mb-12">
                                                            <div class="walmart-sales-price d-flex" >
                                                                ${{item.discountedPrice}}
                                                                <div class="walmart-discount-percentage-card" >
                                                                    {{item.discount}}%
                                                                </div>
                                                            </div>
                                                            <div class="d-flex">
                                                                <span class="walmart-reference-price">${{item.price}}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div v-else-if="getEmptyResult">
        <div class="rct-page-content" style="display: flex; column-gap: 20px;">
    <div class="col-lg-11">
        <div class="styled__SearchWithoutResultContainer-sc-1w20d9o-0 daXHpA">
            <div class="styled__SearchWithoutResultBody-sc-1w20d9o-1 fnCpki">
                <div class="styled__Header-sc-1w20d9o-4 cQMab">¡Lo sentimos!</div>
                <div class="styled__NoResultsText-sc-1w20d9o-5 zLcSj">No encontramos resultados para tu búsqueda de <span>"{{getsearchText}}"</span></div>
                <div class="styled__YellowDivider-sc-1w20d9o-7 cOBINS"></div>
                <div class="styled__Tips-sc-1w20d9o-6 cYblGs"><b>Algunos tips</b>: Revisa si escribiste correctamente lo que buscas. Puedes probar nuevamente usando términos menos específicos.</div>
            </div>
        </div>
    </div>
</div>
    </div>
</template>

<script>

import { store } from '../observable';

export default {
    name: "product-list",
    computed: {
        getData() {
            return store.productList;
        },
        getsearchText() {
            return store.searchTxt;
        },
        getEmptyResult() {
            return store.isEmptyResult;
        }
    }
}
</script>

<style scoped>


</style>