<template>
    <section>
        <div class="d-flex">
            <div class="site-header compact" style="background-color: rgb(0, 113, 206);">
                <div class="header-wrapper">
                    <div style="width: 100%; margin: 0px 3%;">
                        <div class="search-width">
                            <div id="search-container" >
                                <input type="text" v-model="query" placeholder="¿Qué estás buscando?" @keyup.enter="doSearch()">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import SearchDataservice from "../services/SearchDataService";
import { store, mutations } from '../observable';

export default {
    name: 'Search',
    data(){
        return {
            query: ''
        }
    },
    methods: {
        setData: mutations.setData,
        setSearchTxt: mutations.setSearchTxt,
        doSearch() {
            if (this.query.trim() !== '') {
                this.setSearchTxt(this.query.trim());
                SearchDataservice.search(this.query.trim())
                .then(response => {
                    this.setData(response.data);
                    console.log(store.productList);
                })
                .catch(e => {
                    console.error(e);
                });
            }
        }
    }
}
</script>

<style scoped>
.site-header.compact {
    height: 58px;
}
.site-header {
    width: 100%;
    display: flex;
    z-index: 5;
    position: fixed;
    margin-top: 30px;
}
.header-wrapper {
    max-width: 1440px;
    margin: auto;
    display: flex;
    width: 100%;
}
#search-container{
    width: 600px;
    margin: 0 auto;
}
input{
    padding: 10px;
    width: 100%;
    outline: none;
}
</style>