<template>
  <div id="app">
    <div>
      <Search />
      <div class="app-container">
        <div class="rct-app-content">
          <div class="rct-page">
            <div class="content-wrapper">
              <router-view />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Search from './components/Search';

export default {
  name: 'App',
  components: {
    Search
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.app-container {
  background-color: #f5f5f5;
}
.rct-page {
    padding-left: 5px!important;
    padding-right: 5px!important;
    max-width: 1440px;
    margin: auto;
}

</style>
