* {
    -webkit-overflow-scrolling: touch
}

.max-width-1280 {
    max-width: 1280px
}

.carousel .control-dots {
    bottom: -35px!important
}

.carousel.carousel-slider {
    overflow: unset!important;
    margin-bottom: 30px!important
}

.carousel .control-dots .dot {
    margin-bottom: 1px!important;
    width: 7px!important;
    height: 7px!important;
    box-shadow: none!important;
    background: #000!important;
    opacity: .25!important
}

.box-shadow-strike-banner {
    box-shadow: rgba(0,0,0,.16) 0 3px 13px 0,rgba(0,0,0,.07) 0 1px 3px 0
}

.carousel .control-dots .dot:hover {
    background: #0071ce!important;
    opacity: .5!important
}

.carousel .control-dots .dot.selected {
    width: 9px!important;
    height: 9px!important;
    margin-bottom: 0!important;
    background: #000!important;
    opacity: .75!important
}

.walmart-add-cart-button-container {
    display: flex;
    justify-content: center;
    padding-bottom: 14px;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: auto
}

.padding-no-products-found {
    padding-right: 8px;
    padding-left: 19px
}

.walmart-add-cart-button-container-alert {
    display: flex;
    justify-content: center;
    padding-bottom: 2px;
    position: absolute;
    bottom: 0;
    width: 95%;
    margin: auto;
    height: 18px;
    font-size: 10px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: red
}

.walmart-add-cart-button-container-alert-priority {
    display: flex;
    justify-content: center;
    padding-bottom: 2px;
    position: absolute;
    bottom: 0;
    width: 30%;
    margin: auto;
    height: 18px;
    font-size: 10px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: red
}

.border-radius-4 {
    border-radius: 4px
}

.walmart-add-cart-button {
    width: 145px;
    height: 32px;
    border-radius: 23px;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.25);
    background-color: #fff;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 700;
    letter-spacing: .4px;
    color: #0071ce
}

.walmart-add-cart-button-out-of-stock {
    width: 145px;
    height: 32px;
    border-radius: 23px;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.25);
    background-color: #fff;
    cursor: default;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 400;
    letter-spacing: .4px;
    color: #dedede;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.walmart-add-cart-blue-button {
    width: 213px;
    height: 40px;
    border-radius: 23px;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.25);
    cursor: pointer;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 700;
    letter-spacing: .4px;
    color: #fff;
    background-color: #0071ce
}

.walmart-add-cart-blue-button-PDP-mobile {
    max-width: 330px;
    height: 40px;
    border-radius: 23px;
    box-shadow: 0 2px 4px 0 rgba(173,172,172,.5);
    cursor: pointer;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 700;
    letter-spacing: .4px;
    color: #fff;
    background-color: #0071ce
}

.buy-now-yellow-button-PDP-mobile {
    max-width: 280px;
    height: 40px;
    border-radius: 23px;
    box-shadow: 0 2px 4px 0 rgba(173,172,172,.5);
    cursor: pointer;
    font-weight: 700;
    background-color: #ffc220;
    font-size: 16px;
    text-align: center;
    color: #041e42
}

.walmart-add-cart-blue-button-out-of-stock {
    width: 300px;
    height: 40px;
    border-radius: 23px;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.25);
    cursor: default;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 700;
    letter-spacing: .4px;
    color: #dedede;
    background-color: #fff;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.walmart-product-detail-name {
    font-size: 18px!important;
    color: #3d3d3d
}

.pdp-desktop-brand {
    font-size: 16px;
    font-weight: 700;
    color: #414042
}

.pdp-desktop-display-name {
    font-size: 20px;
    color: #414042
}

.pdp-desktop-item-number {
    font-size: 14px;
    color: #adadad;
    margin-right: 10px
}

.pdp-desktop-initial-stock {
    font-size: 14px;
    font-weight: 700;
    color: #0071ce
}

.pdp-mobile-brand {
    font-size: 14px;
    font-weight: 700;
    color: #414042
}

.pdp-mobile-display-name {
    font-size: 18px;
    color: #414042
}

.pdp-mobile-item-number {
    font-size: 14px;
    color: #acacac;
    margin-right: 10px
}

@media(max-width: 500px) {
    .walmart-add-cart-button-container-alert-priority {
        width:45%
    }

    .walmart-add-cart-button-container-alert {
        bottom: 10px
    }
}

@media(max-width: 768px) and (min-width:500px) {
    .pdp-mobile-brand {
        font-size:16px
    }

    .pdp-mobile-display-name {
        font-size: 24px
    }

    .pdp-mobile-item-number {
        font-size: 16px
    }

    .walmart-add-cart-button-container-alert {
        bottom: 8px
    }

    .walmart-add-cart-button-container-alert-priority {
        width: 45%
    }

    .walmart-add-cart-button-container {
        display: flex;
        justify-content: center;
        padding-bottom: 6px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        margin: auto
    }
}

.pdp-mobile-initial-stock {
    font-size: 14px;
    font-weight: 700;
    color: #0071ce
}

.pdp-mobile-TLMC-price {
    font-size: 26px;
    font-weight: 700;
    color: #0071ce
}

.pdp-mobile-reference-price {
    font-size: 14px;
    color: #414042
}

.pdp-mobile-sales-price {
    font-size: 26px;
    font-weight: 700;
    color: #414042
}

.pdp-mobile-discount-percentage-card {
    width: 35px;
    border-radius: 16px;
    background-color: #de1c24;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    height: 20px;
    margin-top: 10px;
    margin-left: 10px
}

.pdp-mobile-pay-not-tlmc {
    font-size: 12px;
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: normal;
    color: #6d6e71;
    margin-top: 15px;
    margin-left: 10px;
    width: 130px
}

.pdp-desktop-pay {
    font-size: 12px;
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: normal;
    color: #6d6e71;
    margin-top: 15px;
    margin-left: 5px
}

.walmart-product-info {
    padding-top: 20px
}

.product-info {
    padding: .5rem
}

.walmart-exclusive {
    font-size: 12px;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: normal;
    color: #000
}

.walmart-product-detail-exclusive {
    font-size: 15px;
    color: #0071ce
}

.walmart-normal-price {
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #696969
}

.walmart-discount-percentage-card {
    width: 35px;
    border-radius: 16px;
    background-color: #de1c24;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    color: #fff
}

.walmart-free-shipping {
    position: absolute;
    margin-top: 10px;
    right: 10px;
    height: 30px;
    padding-left: 5px;
    font-size: 13px;
    text-align: center;
    color: #0071ce;
    z-index: 4
}

.walmart-is-star {
    position: absolute;
    top: 10px;
    left: 15px;
    text-align: center;
    color: #fff;
    z-index: 4
}

.walmart-pay-button {
    background: #0071ce!important;
    color: #fff!important;
    cursor: pointer;
    width: 100%;
    max-width: 330px;
    border-radius: 21px;
    text-align: center;
    padding: 10px
}

.walmart-cart-products {
    background-color: #f5f5f5!important
}

.walmart-cart-product-quantity {
    color: #fff;
    text-align: center;
    font-size: 12px;
    padding-top: 1px;
    height: 19px;
    width: 19px;
    border-radius: 50%;
    position: absolute;
    background-color: #0071ce;
    left: 70px
}

.walmart-product-blue-buttons {
    text-align: center;
    height: 34px;
    width: 40px;
    border: solid 1px #0071ce;
    background-color: #0071ce;
    display: inline-block;
    color: #fff;
    cursor: pointer
}

.walmart-product-white-button {
    width: 49px;
    height: 35px;
    text-align: center;
    display: inline-block
}

.walmart-product-buttons-container {
    width: 131px;
    height: 35px;
    border-radius: 2px;
    border: solid 1px #0071ce;
    background-color: #fff
}

.cp-no-select {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.walmart-delete-product-cart {
    cursor: pointer;
    color: #0071ce;
    font-size: 12px;
    text-decoration: underline
}

.walmart-cart-quantity {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-left: 25px;
    position: absolute;
    display: inline-block;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: #ffc220;
    cursor: pointer
}

.walmart-product-card-name {
    font-weight: 700;
    min-height: 47px
}

.walmart-one-price-height {
    min-height: 64px
}

.walmart-card-price {
    font-size: 18px;
    font-weight: 700;
    color: #0071ce;
    height: 20px;
    margin-bottom: 2px
}

.walmart-product-detail-card-price {
    font-size: 28px;
    font-weight: 700;
    color: #0071ce
}

.walmart-black-price {
    font-size: 21px;
    font-weight: 700;
    color: #303030
}

.walmart-product-detail-black-price {
    font-size: 29px;
    font-weight: 700;
    color: #303030
}

.walmart-product-detail-normal-price {
    text-decoration: line-through;
    font-size: 18px;
    color: #696969
}

.walmart-card-price-container {
    color: #0071ce;
    font-size: 12px
}

.walmart-black-price-container {
    color: #303030;
    font-size: 12px
}

.search-box-container input {
    border-radius: 26px;
    height: 35px;
    font-size: 16px
}

.search-box-container-small input {
    border-radius: 26px;
    height: 35px;
    font-size: 16px
}

search-box-container-header {
    max-width: 500px
}

.search-box-container-header input {
    border-radius: 26px;
    height: 35px;
    font-size: 16px
}

.walmart-dropdown-cart {
    right: 0;
    top: 8px!important;
    left: calc(100% - 310px)!important;
    box-shadow: 0 2px 4px 0 rgba(46,34,34,.5)!important
}

.dropdown-content {
    min-width: 310px;
    border-radius: 8px;
    background-color: #fff
}

.dropdown-menu {
    min-width: 310px
}

.walmart-cart-card-price {
    color: #0071ce!important
}

.walmart-minus-product {
    width: 36.8px;
    height: 25px;
    color: #0071ce;
    border-radius: 23px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.25);
    background-color: #fff;
    padding-top: 2px
}

.walmart-plus-product {
    width: 36.8px;
    height: 25px;
    color: #0071ce;
    border-radius: 23px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.25);
    background-color: #fff;
    padding-top: 1px
}

.walmart-product-blue-price-bold {
    font-size: 16px;
    font-weight: 700;
    color: #0071ce
}

.walmart-product-black-price-bold {
    font-size: 16px;
    font-weight: 700;
    color: #3d3d3d
}

.walmart-separator-container {
    position: absolute;
    width: 44%;
    height: 50px
}

.walmart-separator {
    height: 30px;
    background-color: #eee;
    width: 1px;
    margin-left: 100%
}

.app-container-home {
    background-color: #f7f6f6;
    margin: auto;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch
}

.app-container {
    padding-top: 58px;
    background-color: #f5f5f5
}

.carousel .slide {
    background: 0 0!important
}

.sort-by-container {
    margin-top: 5px;
    margin-bottom: 10px;
    justify-content: flex-end
}

.sort-by-text {
    padding: .3rem 2rem .3rem .3rem
}

.sort-by-divider {
    margin-left: 30px
}

.ais-SortBy-select {
    border: 0;
    background-color: transparent!important
}

.home-product-container {
    margin-bottom: 1.5rem;
    max-width: 350px
}

.rct-page {
    padding-left: 5px!important;
    padding-right: 5px!important;
    max-width: 1440px;
    margin: auto
}

.rct-page_d {
    max-width: 1440px;
    margin: auto
}

.rct-page-search {
    padding-left: 10px!important;
    padding-right: 18px!important;
    max-width: 1440px;
    margin: auto
}

.rct-page_pdp {
    margin: auto;
    max-width: 1280px
}

.rct-page_cat {
    max-width: 1440px;
    margin: auto;
    padding-left: 19px;
    padding-right: 15px
}

.span-legal {
    padding: 1.25rem;
    color: #0071ce;
    font-weight: 700;
    font-size: 14px
}

.rct-page-content {
    padding-left: 0!important;
    padding-right: 0!important
}

.pagination-disabled-arrows>a {
    color: #ddd!important;
    cursor: not-allowed!important
}

.pagination-container {
    background-color: #fff;
    margin-top: -10px;
    position: absolute;
    width: 100%;
    left: 0;
    margin-bottom: 30px;
    border-radius: 12px
}

.pagination-wmt {
    padding-top: 15px;
    padding-bottom: 15px
}

.pagination-break {
    margin-left: .4rem;
    margin-right: .4rem;
    font-size: 20px;
    letter-spacing: 2px
}

.pagination-break-link {
    color: #000;
    cursor: default
}

.shop-wrapper .ais-Pagination-item--selected .ais-Pagination-link {
    padding: 0;
    background-color: #0071ce;
    border-color: #0071ce;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: #fff;
    text-align: center
}

.shop-wrapper .ais-Hits-list .ais-Hits-item {
    border: none;
    box-shadow: none;
    margin: 0 0 10px;
    padding: 3px;
    display: grid
}

.ais-Pagination-link {
    padding: 0;
    background-color: transparent;
    border-radius: 50%;
    border-color: transparent;
    width: 30px;
    height: 30px;
    color: #000;
    text-align: center;
    line-height: 29px
}

.ais-Pagination-item+.ais-Pagination-item {
    margin-left: .6rem
}

.ais-Pagination-link:hover,.ais-Pagination-link:focus {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-width: 1px;
    border-color: #0071ce;
    padding: 0;
    background-color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: #0071ce;
    text-align: center;
    line-height: 29px
}

.ais-Pagination-link--selected {
    color: #fff!important;
    padding-bottom: 2px!important
}

.ais-Pagination-item--disabled .ais-Pagination-link {
    font-size: 20px!important
}

.ais-Pagination-item--lastPage>a {
    font-size: 20px!important
}

.ais-Pagination-item--nextPage>a {
    color: #0071ce;
    font-size: 26px!important;
    line-height: 22px;
    margin-left: .4rem
}

.ais-Pagination-item--firstPage>a {
    font-size: 20px!important
}

.ais-Pagination-item--previousPage>a {
    color: #0071ce;
    font-size: 26px!important;
    line-height: 22px;
    margin-right: .4rem
}

.max-width-350 {
    max-width: 350px!important
}

.max-width-325 {
    max-width: 325px!important
}

.walmart-cart-product-name {
    min-width: 100px;
    margin-right: 5px
}

.carousel-status {
    background-color: #fff!important;
    top: auto!important;
    bottom: 0!important;
    right: 0!important;
    position: absolute!important;
    color: #000!important;
    padding: 0!important;
    text-shadow: none!important;
    margin: 0!important
}

.thumbs-wrapper {
    overflow-x: scroll!important;
    overflow-y: hidden!important
}

.walmart-image-preview-container {
    width: 100%
}

.walmart-image-preview {
    border: solid 1px #ededed;
    margin: 30px 30px 30px 0;
    max-width: 500px;
    max-height: 500px;
    width: auto;
    height: auto
}

.walmart-home-scroll-search-pt {
    padding-top: 100px!important
}

.walmart-home-scroll-carousel-mb {
    padding-top: 58px
}

.walmart-products-found {
    margin-left: 20px;
    padding-top: 5px;
    width: 450px
}

.product-block {
    height: 440px;
    border-radius: 16px
}

.product-description {
    font-size: 16px;
    font-weight: 400;
    color: #6d6e71;
    line-height: 1.5rem;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 8px
}

#root {
    -webkit-overflow-scrolling: touch
}

.categories-images-container {
    background-color: rgb(216,216,216,.44);
    width: 100%;
    margin-top: 100px
}

.categories-images-graphic-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 40px
}

.categories-images-graphic {
    font-size: 36px;
    font-weight: 700;
    border-radius: 6px;
    color: #707070
}

.categories-images-graphic-countdown {
    box-shadow: 0 3px 13px 0 rgba(0,0,0,.16),0 1px 3px 0 rgba(0,0,0,.07);
    margin-top: 25px
}

.blue-bold-text-20 {
    font-size: 20px;
    font-weight: 700;
    color: #0071ce
}

.charcoal-grey-bold-text-18 {
    font-size: 18px;
    font-weight: 700;
    color: #414042
}

.charcoal-grey-bold-text-24 {
    font-size: 24px;
    font-weight: 700;
    color: #414042
}

@media(max-width: 768px) {
    .charcoal-grey-bold-text-24 {
        font-size:18px
    }
}

.blue-bold-text-13 {
    font-size: 13px;
    font-weight: 700;
    color: #0071ce
}

.home-links-container {
    width: 500px;
    overflow-x: hidden
}

.categories-images-carousel {
    margin: 5px;
    display: inline-block;
    padding: 16px 0;
    border-radius: 6px;
    box-shadow: 0 0 8px 0 rgba(0,0,0,.17);
    background-color: #fff
}

.ais-RefinementList-showMore {
    margin-top: .5rem;
    margin-left: 10px;
    background: 0 0!important;
    color: #0071ce;
    text-decoration: underline
}

.ais-RefinementList-showMore:hover,.ais-RefinementList-showMore:focus,.ais-RefinementList-showMore:active {
    background: 0 0!important;
    color: #0071ce;
    text-decoration: underline
}

.priority-max-width {
    box-shadow: 0 5px 4px 0 rgba(190,190,190,.5);
    border: solid 1px #e3e3e3;
    margin-left: 5px;
    margin-right: 5px;
    min-height: 192px;
    height: 285px;
    min-width: 300px;
    max-width: 464px;
    border-bottom: 5px solid #0071ce;
    border-radius: 1px
}

.white-bottom-border {
    border-bottom: 5px solid #fff
}

.priority-product-info {
    width: 55%
}

.priority-product-price {
    color: #565656;
    font-weight: 700;
    font-size: 30px
}

.priority-product-title {
    margin-top: 22px;
    font-size: 24px;
    font-weight: 700;
    color: #414042
}

.slick-dots,.slick-next,.slick-prev {
    position: absolute;
    display: block;
    padding: 0
}

.slick-dots li button:before,.slick-next:before,.slick-prev:before {
    font-family: slick;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.slick-next,.slick-prev {
    font-size: 0;
    line-height: 0;
    top: 50%;
    width: 60px;
    height: 60px;
    -webkit-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    transform: translate(0,-50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: 0;
    background: 0 0
}

.slick-next:focus:before,.slick-next:hover:before,.slick-prev:focus:before,.slick-prev:hover:before {
    opacity: 1
}

.slick-next.slick-disabled:before,.slick-prev.slick-disabled:before {
    opacity: .25
}

.slick-next:before,.slick-prev:before {
    font-size: 20px;
    line-height: 1;
    color: #0071ce
}

.slicks-controller button {
    opacity: 0;
    transition: .5s all
}

.slicks-controller:hover button {
    opacity: 1
}

.slick-prev {
    z-index: 2;
    border-radius: 50%
}

˘ .store-boxes-slider .slick-prev {
    top: -38px
}

[dir=rtl] .slick-prev {
    right: -25px;
    left: auto
}

.slick-prev:before {
    font-family: feather;
    content: '\e843';
    font-size: 40px;
    width: 60px;
    height: 60px;
    background-color: #fff;
    color: #0071ce;
    border-radius: 50%;
    box-shadow: 0 1px 15px 1px rgba(69,65,78,.3)
}

.slick-next:before,[dir=rtl] .slick-prev:before {
    font-family: feather;
    font-size: 40px;
    content: '\e844';
    color: #0071ce;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 1px 15px 1px rgba(69,65,78,.3)
}

.store-boxes-slider .slick-next:before,.store-boxes-slider .slick-prev:before {
    color: #fff
}

.slick-next {
    right: 0;
    z-index: 2;
    border-radius: 50%
}

.store-boxes-slider .slick-next {
    top: -38px
}

[dir=rtl] .slick-next {
    right: auto;
    left: -25px
}

[dir=rtl] .slick-next:before {
    content: '←'
}

.slick-dotted.slick-slider {
    margin-bottom: 30px
}

.slick-dots {
    width: 100%;
    margin: 0;
    list-style: none;
    text-align: center
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    cursor: pointer
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: 0;
    background: 0 0
}

.slick-dots li button:focus,.slick-dots li button:hover {
    outline: 0
}

.slick-dots li button:focus:before,.slick-dots li button:hover:before {
    font-size: 8px;
    color: #0071ce;
    opacity: .5
}

.slick-dots li button:before {
    font-size: 8px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: #000
}

.slick-dots li.slick-active button:before {
    font-size: 10px;
    opacity: .75;
    color: #000
}

.slick-list,.slick-slider,.slick-track {
    position: relative;
    display: block
}

.slick-loading .slick-slide,.slick-loading .slick-track {
    visibility: hidden
}

.slick-slider {
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent
}

.slick-list {
    overflow: hidden;
    margin: 0;
    padding: 0
}

.slick-list:focus {
    outline: 0
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand
}

.slick-slider .slick-list,.slick-slider .slick-track {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0)
}

.slick-track {
    top: 0;
    left: 0;
    margin-left: 0
}

.slick-track:after,.slick-track:before {
    display: table;
    content: ''
}

.slick-track:after {
    clear: both
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px
}

[dir=rtl] .slick-slide {
    float: right
}

.slick-slide img {
    display: block
}

.slick-slide.slick-loading img {
    display: none
}

.slick-slide.dragging img {
    pointer-events: none
}

.slick-initialized .slick-slide {
    display: block
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent
}

.slick-arrow.slick-hidden {
    display: none
}

.products-carousel-home {
    max-width: 250px;
    margin: 5px
}

.products-carousel-home-mobile {
    width: 197px!important;
    margin: auto
}

.overflow-x-scroll {
    overflow: scroll
}

.sister-categories {
    color: #6d6e71;
    font-size: 1rem;
    line-height: 1.8em
}

.sister-categories:focus,.sister-categories:hover,.sister-categories:active {
    color: #0071ce
}

.category-order-dropdown {
    float: right;
    background-color: #fff;
    color: #000;
    padding: 8px 15px;
    border-radius: 8px!important;
    box-shadow: 0 1px 15px 1px rgba(69,65,78,.08);
    cursor: pointer;
    max-width: 264px;
    width: 264px;
    margin-right: 21px;
    margin-bottom: 10px
}

.category-order-dropdown-item {
    padding: 6px 20px;
    color: #212529;
    cursor: pointer
}

.category-order-dropdown-item:hover {
    color: #16181b;
    background-color: #f8f9fa
}

.dropdown {
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 20px;
    position: unset
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #464d69;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: none;
    border-radius: 8px;
    box-shadow: 0 1px 15px 1px rgba(69,65,78,.08);
    transition: unset!important
}

.ais-Hits {
    margin-top: 12px
}

.remove-windows-scroll {
    -ms-overflow-style: -ms-autohiding-scrollbar
}

.walmart-discount-percentage-pdp-desktop {
    margin-top: 40px;
    width: 50px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    height: 30px;
    background-color: #de1c24;
    padding-top: 2px;
    padding-left: 5px;
    margin-left: auto;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    z-index: 4
}

.walmart-discount-percentage-pdp-mobile {
    margin-top: 40px;
    width: 50px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    height: 30px;
    background-color: #de1c24;
    padding-top: 2px;
    padding-left: 5px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    z-index: 4;
    position: absolute;
    right: 0
}

.selected-category {
    font-weight: 700;
    color: #0071ce
}

[class*=col-] {
    display: block
}

.ais-SortBy-select {
    font-size: 16px
}

.ais-MenuSelect-select {
    font-size: 16px
}

.second-campaign-block-mobile {
    margin-top: 20px
}

.font-10 {
    font-size: 10px
}

.font-12 {
    font-size: 12px
}

.font-16 {
    font-size: 16px
}

.text-color-white {
    color: #fff!important
}

.text-color-white a> {
    color: #fff!important
}

.bg-f9f9f9 {
    background-color: #f9f9f9
}

.product-brand {
    font-size: 16px;
    font-weight: 700;
    color: #000
}

.search-title-p {
    font-size: 28px;
    font-weight: 700;
    color: #0071ce
}

.fs-18 {
    font-size: 18px
}

.walmart-reference-price {
    font-size: 12px;
    text-decoration: line-through;
    color: #6d6e71
}

@media(max-width: 768px) {
    .walmart-reference-price {
        font-size:10px
    }
}

.walmart-sales-price {
    font-size: 18px;
    color: #565656;
    font-weight: 700
}

.campaign-label {
    background-color: #041e42;
    position: absolute;
    padding: 3px 10px;
    border-radius: 16px;
    font-size: 14px;
    font-weight: 700;
    line-height: .92;
    left: 5px;
    top: 5px
}

.campaign-label-pdp-desktop {
    background-color: #041e42;
    padding: 3px 10px;
    border-radius: 16px;
    font-size: 14px;
    font-weight: 700;
    line-height: .92;
    margin-right: 5px
}

.campaign-label-pdp-mobile {
    background-color: #041e42;
    position: absolute;
    padding: 3px 10px;
    border-radius: 16px;
    font-size: 14px;
    font-weight: 700;
    line-height: .92;
    margin-left: 5px;
    margin-top: 10px
}

.campaign-label-text-1 {
    color: #ffc220
}

.campaign-label-text-2 {
    color: #fff
}

.mb-12 {
    margin-bottom: 12px!important
}

.mb-15 {
    margin-bottom: 15px!important
}

.products-extra-info {
    position: absolute;
    bottom: 52px
}

.product-loader-container {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 80px
}

.product-disabled {
    color: #a4a4a4!important
}

.product-disabled-percentage-card {
    background-color: #a4a4a4!important
}

.label-product-disabled {
    border-color: #a4a4a4!important;
    color: #a4a4a4!important
}

.product-image-shadow {
    z-index: 1;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 4px;
    position: absolute;
    background-blend-mode: multiply;
    background-image: linear-gradient(rgba(249,249,249,0),rgba(0,0,0,0.12))
}

.img-hover-zoom:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.1)
}

.img-free-shipping-bci {
    border-radius: 5px;
    width: 100%;
    max-width: 100%
}

.labels-container {
    position: absolute;
    bottom: 8px;
    width: 100%;
    padding-left: 5px;
    z-index: 2;
    left: 0
}

.labels-pack-container {
    top: 4px;
    width: 100%;
    padding-left: 5px;
    z-index: 2;
    left: 0;
    margin-top: 6px
}

.pdp-mobile-labels-container {
    width: 100%;
    margin-left: 2%;
    position: inherit
}

.pdp-mobile-labels-container-carousel {
    bottom: 30px;
    margin-left: 30px;
    position: absolute
}

.pdp-desktop-labels-container {
    bottom: 35px;
    margin-left: 10px;
    position: absolute
}

.pdp-mobile-info-containers {
    padding: 4%;
    max-width: 400px
}

.internet-exclusive-container {
    height: 18px;
    border-radius: 100px;
    border: 1px solid #0071ce;
    background: #0071ce;
    padding-left: 0;
    padding-right: 0
}

.cyber-lider-container {
    height: 18px;
    border-radius: 100px;
    padding-left: 0;
    padding-right: 0;
    background: #392192;
    margin-right: 5px
}

.cyber-lider-cards {
    height: 18px;
    border-radius: 100px;
    background: #392192;
    margin-top: 10px;
    display: flex;
    z-index: 2;
    flex-direction: row;
    justify-content: center
}

.cyber-lider-cards-container {
    position: absolute;
    bottom: 8px;
    width: 100%;
    padding-left: 5px;
    left: 0;
    top: 0
}

.ready-box-container {
    position: absolute;
    z-index: 1;
    margin-left: 8px;
    margin-top: 8px;
    height: 18px;
    border-radius: 100px;
    border: 1px solid #e5f0fa;
    background: #e5f0fa;
    padding-left: 0;
    padding-right: 0
}

.new-ready-box-container {
    position: absolute;
    z-index: 1;
    margin-left: 8px;
    margin-top: 8px;
    height: 18px;
    border-radius: 100px;
    background: #5fb446;
    padding-left: 0;
    padding-right: 0
}

.ready-box-text {
    margin: 0 8px;
    font-size: 12px!important;
    color: #0071ce;
    font-weight: 700;
    display: flex;
    align-items: center
}

.new-ready-box-text {
    margin: 0 8px;
    font-size: 12px!important;
    color: #fff;
    font-weight: 700;
    display: flex;
    align-items: center
}

.internet-exclusive-text {
    margin: 0 8px;
    font-size: 12px!important;
    color: #fff;
    font-weight: 700;
    display: flex;
    align-items: center
}

.cyber-lider-text {
    font-size: 12px!important;
    color: #1018af;
    font-weight: 700;
    display: flex;
    align-items: center
}

.cyber-lider-cards-text {
    font-size: 12px!important;
    color: #1018af;
    font-weight: 700;
    align-items: center
}

.free-shipping-container {
    height: 20px;
    border-radius: 100px;
    border: 1px solid #f7b500;
    background: #f7b500;
    padding-left: 5px;
    padding-right: 5px
}

.free-shipping-image {
    margin-right: 4px;
    color: #000;
    filter: brightness(0) saturate(100%);
    display: flex;
    align-items: center
}

.free-shipping-text {
    margin: 0 2px;
    color: #000;
    font-size: 12px;
    display: flex;
    align-items: center
}

.site-to-store-container {
    height: 20px;
    border-radius: 100px;
    border: 1px solid #fa6400;
    background: #fff;
    margin-left: 4px;
    padding-left: 5px;
    padding-right: 5px
}

.site-to-store-image {
    margin-right: 2px;
    color: #fa6400;
    display: flex;
    align-items: center
}

.site-to-store-text {
    font-size: 12px;
    color: #fa6400;
    display: flex;
    align-items: center
}

.home-delivery-text {
    font-size: 12px;
    margin: 0 0 0 2px;
    color: #0071c3;
    display: flex;
    align-items: center
}

.home-delivery-container {
    height: 20px;
    border-radius: 100px;
    border: 1px solid #0071c3;
    background: #fff;
    padding-left: 5px;
    padding-right: 5px
}

@media(max-width: 321px) {
    .home-delivery-container {
        display:none!important
    }
}

.home-delivery-image {
    margin-right: 2px;
    color: #0071c3;
    display: flex;
    align-items: center
}

.vertical-align {
    vertical-align: middle
}

.category-products-slide {
    overflow-x: scroll;
    width: 100%;
    position: absolute;
    left: -10px;
    padding-left: 20px;
    padding-top: 10px
}

.category-products-background-block {
    background: #f0f0f0;
    height: 460px;
    width: 100%;
    position: absolute;
    left: 0
}

.horizontal-auto-margin {
    margin-left: auto;
    margin-right: auto
}

.product-exists-cart {
    width: 80px;
    background-color: #f5f5f5
}

.pdp-separator {
    height: 1px;
    background-color: #d8d8d8
}

.tooltip-info {
    max-width: 180px;
    padding: 8px;
    border-radius: 4px;
    color: #008292;
    background-color: #ecfcfe;
    border-radius: 4px;
    border: .5px solid #008292
}

@media(max-width: 800px) and (min-width:770px) {
    .tooltip-info {
        max-width:123px
    }
}

.tooltip-info-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    bottom: -5px;
    margin-left: -6px;
    border-width: 6px 6px 0;
    border-top-color: #008292;
    left: 50%
}

.width-40 {
    width: 40px
}

.width-32 {
    width: 32px
}

.row-margin-minus-12 {
    margin-right: -10px;
    margin-left: -12px
}

.col-padding-12 {
    padding-right: 10px;
    padding-left: 12px
}

.discount-alert {
    position: absolute;
    z-index: 4;
    max-width: 1680px;
    width: 100%
}

.alert-primary {
    font-size: 14px;
    color: #004085;
    background: #cce5ff;
    border-color: #b8daff
}

.alert {
    padding: 7px 60px 7px 5px;
    margin: 0
}

.alert-dismissible .close {
    padding: 0 15px;
    height: 100%;
    color: #004085;
    font-weight: 700;
    font-size: 35px
}

.monday-alert {
    background: #cce5ff;
    border-color: #b8daff;
    color: #004085;
    font-size: 14px
}

.inspirational-block-mobile {
    overflow-x: scroll;
    width: 100%;
    position: absolute
}

.h-286 {
    height: 286px;
    margin-left: -10px
}

.alert-sale-units {
    width: 295px;
    height: 20px;
    font-family: Bogle;
    font-size: 10px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: red
}

.rct-page-content {
    padding: 24px
}

.search-input-icons {
    position: absolute;
    top: 17px
}

.search-overlay {
    position: absolute;
    height: 110vh;
    width: 100%;
    background: rgba(0,0,0,.5);
    top: -58px;
    left: 0
}

.search-results-list {
    margin-top: 13px;
    border-radius: 10px
}

.cards-borders {
    border-radius: 12px
}

.img-offers {
    max-width: 100%;
    height: auto
}

@media(min-width: 1700px) {
    .search-box-container {
        width:700px
    }

    .walmart-minus-product {
        padding-top: 1px!important
    }

    .walmart-plus-product {
        padding-top: 0!important
    }

    .ais-Pagination-link--selected {
        padding-bottom: 4px!important
    }

    .shop-wrapper .ais-Hits-item {
        max-width: 20%
    }
}

@media(max-width: 1400px) {
    .products-carousel-home {
        max-width:300px
    }
}

@media(min-width: 1341px) {
    .shop-wrapper .ais-Hits-item {
        max-width:25%
    }
}

@media(min-width: 911px) {
    .walmart-home-scroll-carousel-mb {
        padding-top:143px
    }

    .app-container {
        padding-top: 148px
    }
}

@media(min-width: 768px) and (max-width:910px) {
    .walmart-home-scroll-carousel-mb {
        padding-top:113px
    }

    .app-container {
        padding-top: 118px
    }
}

@media(min-width: 768px) {
    .strike-banner-mobile {
        display:none
    }

    .search-box-container {
        width: 700px
    }

    .img-count-down {
        width: 45%
    }

    .home-delivery-text,.site-to-store-text {
        font-size: 14px
    }

    .site-to-store-text,.home-delivery-text {
        font-size: 14px
    }

    .walmart-card-price {
        font-size: 20px
    }

    .walmart-sales-price {
        font-size: 20px
    }
}

@media(max-width: 768.3px) {
    .search-input-icons {
        top:30px
    }

    .charcoal-grey-bold-text-18 {
        margin-left: 2%
    }

    .img-offers {
        width: 753px
    }
}

@media(max-width: 767.95px) {
    .sort-by-margin-left {
        margin-left:-6px
    }

    .search-results-list {
        margin-top: 0;
        border-radius: 0
    }

    .search-title-p {
        font-size: 20px
    }

    .search-input-icons {
        top: 30px
    }

    .padding-no-products-found {
        padding-right: 4px;
        padding-left: 9px
    }

    .alert-primary {
        font-size: 12px
    }

    .dropdown {
        margin-left: 0;
        margin-right: 0;
        display: unset;
        margin-top: -5px
    }

    .category-order-dropdown {
        border-radius: 4px;
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
        width: 100%;
        max-width: 100%;
        padding: 12px 24px;
        margin: 10px 0 20px;
        color: #464d69
    }

    .ais-Pagination-item+.ais-Pagination-item {
        margin-left: .2rem
    }

    .strike-banner {
        display: none
    }

    .category-products-background-block {
        height: 440px;
        width: 100%;
        position: absolute;
        left: 0
    }

    .walmart-home-scroll-search-padding-top {
        padding-top: 10px!important
    }

    .walmart-dropdown-cart {
        width: 100%!important;
        top: 8px!important;
        left: 0!important
    }

    .dropdown-content {
        min-width: 310px;
        width: 100vw;
        background-color: #fff
    }

    .dropdown-menu {
        min-width: 310px;
        width: 100vw
    }

    .sort-by-container {
        margin-top: 15px
    }

    .walmart-product-detail-card-price {
        font-size: 24px
    }

    .walmart-product-detail-black-price {
        font-size: 24px
    }

    .walmart-product-detail-normal-price {
        font-size: 18px
    }

    .product-block {
        height: 430px
    }

    .ais-Hits-item {
        padding: 3px
    }

    .product-description {
        font-size: 14px;
        margin-bottom: 4px
    }

    .priority-product-title {
        margin-top: 0;
        font-size: 20px
    }

    .priority-product-price {
        font-size: 22px
    }

    .priority-product-description {
        font-size: 13px;
        margin-bottom: 0!important
    }

    .priority-max-width {
        width: 300px;
        height: 225px
    }

    .walmart-home-scroll-carousel-mb {
        margin-bottom: 0
    }

    .walmart-add-cart-button {
        width: 130px
    }

    .product-exists-cart {
        width: 65px
    }

    .img-free-shipping-bci {
        borderradius: 0
    }

    .pdp-mobile-pay-not-tlmc {
        margin-top: 6px
    }
}

@media(max-width: 767px) and (min-width:320px) {
    .rct-page-content {
        padding:1.25rem
    }
}

@media(max-width: 575px) {
    .ais-Hits-list {
        justify-content:center
    }

    .walmart-products-found {
        width: 220px
    }

    .shop-wrapper .ais-Hits-item {
        max-width: 50%
    }
}

@media(max-width: 420px) {
    .product-block {
        height:380px
    }
}

@media(max-width: 479px) and (min-width:351px) {
    .img-count-down {
        width:70%
    }
}

@media(max-width: 350px) {
    .img-count-down {
        width:80%
    }
}

#clearRefinements {
    background: 0 0!important;
    border: none;
    padding: 0!important;
    color: #0071ce;
    text-decoration: underline;
    cursor: pointer
}

#end-footer {
    background-color: #041e42;
    font-size: 12px;
    padding: 12px 20px
}

@media(max-width: 768px) {
    #end-footer {
        padding-bottom:60px
    }

    #span.MuiFormControlLabel-label {
        color: #414042
    }
}

@media(max-width: 1245px) {
    .walmart-product-info {
        margin-left:30px
    }
}

@media(max-width: 320px) {
    .product-block {
        height:350px
    }
}

.MuiTab-textColorPrimary.Mui-selected {
    color: #0a66b7!important;
    font-weight: 700
}

.MuiFormControlLabel-label {
    font-family: Bogle;
    font-size: 14px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    color: #414042
}

.MuiIconButton-edgeEnd {
    margin-right: 0!important
}

.PrivateSwitchBase-root-6 {
    padding: 5px
}

div.MuiAccordionSummary-expandIcon {
    padding-left: 0;
    padding-right: 0
}
